.signupC{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 450px;
    height: 96vh;
    margin-top: 15px;
    margin-bottom: 25px;   
    background: linear-gradient(to bottom, #A0D2EB, #D0BDF4, #8458B3, #A28089);
    background-color: #ffffff80;
    padding-bottom: 10px;
    border-radius: 30px;
    opacity: 1;

}
.loginC{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 75vh;
    margin-top: 60px;
    align-items: center;
    background: linear-gradient(to bottom, #A0D2EB, #D0BDF4, #8458B3, #A28089);
    padding-bottom: 12px;
    border-radius: 40px;
}
.loginHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
    font-weight: 350px;
}

.signupHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-top: 5px;
    font-weight: 350px;
}

.text{
    color: rgb(95, 0, 139);
    font-size: 45px;
    font-weight: 350;
}

.underline{
    width: 50px;
    height: 6px;
    background: rgb(95, 0, 139);
    border-radius: 9px;
}

.loginHead .underline{
    margin-bottom: 1px;
    /* padding-top: 1px; */
}
.loginInputs{
    margin-top: 0px;
    padding-top: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.signupInputs{
    margin-top: 2px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* background: rgb(95, 0, 139); */
}

.input{
    display: flex;
    align-items: center;
    width: 380px;
    height: 40px;
    /* background: #b1a6a65d; */
    background: rgb(213, 203, 218);
    border-radius: 40px; 
}

.loginInputs .loginInput{
    display: flex;
    align-items: center;
    width: 380px;
    height: 40px;
    background: #b1a6a65d;
    border-radius: 40px; 
    margin-bottom: 30px;
}

.signupInputs .input{
    display: flex;
    align-items: center;
    width: 380px;
    height: 40px;
    background: rgb(208, 187, 219);
    border-radius: 40px;
    margin-bottom: 16px; 
}

.error{
    color: rgb(95, 0, 139);
    white-space: nowrap;
    /* align-items: center; */
    padding: 0px;
    margin-top: -3px;
    margin-bottom: 2px;
    margin-left: 12px;
}

.signError{
    color: rgb(95, 0, 139);
    max-width: 100%;
    word-wrap: break-word;
    display: inline;
    padding: 0px;
    margin-top: -3px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.loginInput input{
    height: 30px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
    /* margin-bottom: 20px; */
}

.loginInput img{
    margin: 0px 30px;
}
.input img{
    margin: 0px 30px;
}

.input input{
    height: 30px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(255, 240, 254);
    font-size: 19px;
}

.forgot-password{
    margin-top: 2px;
    font-size: 18px;
    text-align: left;
    color: black;
    /* padding-bottom: 2px; */
    text-align: center;
}

.forgot-password span{
    color: rgb(95, 0, 139);
    cursor: pointer;
    
}

.submitContainer-login  {
    display: table-column;
    gap: 30px;
    padding-left: 75px;
    align-items: center;
    justify-content: center;
}

.submitSign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeebf2;
    background: rgb(95, 0, 139);
    border-radius: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 2px;
    width: 100px;
}

.submitSign-in{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeebf2;
    background: rgb(95, 0, 139);
    border-radius: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100px;
    
}

.gray{
    color: #EAEAEA;
    background: #ffffff80;
}

/* .sign-inn span{
    cursor: pointer;
    color: rgb(95, 0, 139);
    padding: 5px;
    margin-top: 2px;
} */

.sign-inn{
    cursor: pointer;
    color: rgb(95, 0, 139);
    padding: 5px;
    margin-top: 0px;
    color: black;
    text-align: center;
}

.forgot-password .sign-upp{
    padding-right: 22px;
    margin-top: 12px;
    padding-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.sign-upp span{
    padding-right: 3px;
    margin-top: auto;
    padding-top: 12px;
    cursor: pointer;
    color: rgb(95, 0, 139);
}

strong{
    cursor: pointer;
    color: rgb(95, 0, 139); 
}


